@font-face {
  font-family: "Wonderbar";
  src: url("../fonts/Wonderbar.otf");
}

body{
  background-color: rgb(24, 23, 23);
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/background.jpeg");
  background-size: fill;
}


#root {
  min-height: 100%;
  min-width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: grid;
  grid-template-rows: 1fr 50px;
  align-items: center;
}

.footer {
font-family: "Wonderbar";
text-align: center;
color: white;
font-size: 1.4rem;
margin-bottom: 30px;
}

.footer > a {
  color: white;
  font-style: none;
  text-decoration: none;
}

.footer > a:hover {
  color: goldenrod;
}

.contentPlayScreen{
  padding: 30px;
  display: grid;
  grid-template-rows: 5fr 1fr;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.gameTitle{
  font-family: "Wonderbar";
  color: white;
  background-color: black;
  border: 3px solid goldenrod;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.loseScreen,
.winScreen{
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.gameLost,
.gameWon{
  font-family: "Wonderbar";
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  font-size: 7rem
}

.gameLost{
  color: purple;
}

.gameWon{
  color: green
}

.restartButton{
  font-family: "Wonderbar";
  font-size: 3rem;
  color: white;
  background-color: black;
  border: 3px solid goldenrod;
  border-radius: 15px;
  padding:  10px 30px;
  justify-self: center;
  text-align: center;
  justify-content: center;
}

.restartButton:hover{
  cursor:pointer;
  color: goldenrod;
}

.gameTitle > p:nth-child(1){
  font-size: 4rem;
  margin-bottom: 0px;

}

.gameTitle > p:nth-child(2){
  font-size: 3rem;
  margin-top: 0px;
}

.gameTitlePlaying {
  font-family: "Wonderbar";
  color: white;
  background-color: black;
  border: 3px solid goldenrod;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  align-self: center;
}

.gameTitlePlaying > p:nth-child(1){
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.gameTitlePlaying > p:nth-child(2){
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.playButton{
  margin: 0px;
  font-family: "Wonderbar";
  color: white;
  font-size: 2rem;
  background-color: black;
  border: 3px solid goldenrod;
  border-radius: 15px;
  padding:  10px 30px;
  justify-self: center;
}

.playButton:hover{
  cursor: pointer;
  color: goldenrod;
}

.contentLoading{
  font-family: "Wonderbar";
  color: white;
  font-size: 4rem;
  text-align: center;
}

.contentPlaying {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.scores {
  font-family: "Wonderbar";
  color: white;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 10px;
}

.scores > span,
.scores > p {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: center;
}

.score {
  color: goldenrod;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4vh;
  padding: 50px;
  justify-self: center;
}

.card {
  width: 175px;
  height: 262.5px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 15px;
  /* animation: cardShuffle 1s; */
}

/* @keyframes cardShuffle {
  from{
    content: url("../img/card-back.png");
    transform: rotateY(180deg);
  }
  to{
  }
} */

.card:hover {
  cursor: pointer;
  border: 3px solid green;
}

@media (max-width: 767px){
  #root {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px
  }

  .contentPlayScreen{
    display:flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
  }

  .gameTitle > p:nth-child(1){
    font-size: 2rem;
    margin-bottom: 0px;
  
  }
  
  .gameTitle > p:nth-child(2){
    font-size: 1.2rem;
    margin-top: 0px;
  }

  .contentPlaying {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  
  .scores {
    font-size: 1.5rem;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "gameTitle gameTitle"
    "currentScore highScore";
    justify-content: center;
    margin-top: 10px;
  }

  .gameTitlePlaying{
    grid-area: gameTitle;
    justify-self: center;
  }

  .gameTitlePlaying > p:nth-child(1){
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .gameTitlePlaying > p:nth-child(2){
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .scores > span:nth-child(1){
    grid-area: currentScore;
  }
  
  .scores > span:nth-child(3){
    grid-area: highScore;
  }

  .scores > span {
    font-size: 1rem;
  }
  
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 3vh;
    padding: 10px;
  }
  
  .card {
    width: 150px;
    height: 225px;
  }

  .loseScreen,
  .winScreen{
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .gameLost,
  .gameWon{
    padding: 20px;
    font-size: 3.5rem
  }

  .restartButton{
    font-size: 2rem;
    background-color: black;
    padding:  10px 30px;
  }

  .footer {
    font-size: 1rem;
    }

}